@charset "UTF-8";
body, div, p, ol, ul, li, dl, dt, dd, table, tr, td, form, h1, h2, h3, h4, h5, h6, hr, img, input, fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

a {
  text-decoration: none; }

body {
  font-family: "微软雅黑",Arial; }

ul, ol, li {
  list-style: none; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

#navbox {
  width: 100%;
  height: 44px;
  background: #000000; }
  #navbox #nav {
    width: 1300px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    padding-top: 12px;
    position: relative; }
    #navbox #nav .logo {
      position: relative;
      width: 122px;
      height: 20px;
      background: url(../img/logo.png) no-repeat;
      margin: 0 48px;
      float: left; }
      #navbox #nav .logo .logomask {
        position: absolute;
        width: 122px;
        height: 20px;
        background: black;
        opacity: 0; }
  #navbox .nav_content, #navbox .nav_content li .a_content {
    float: left; }
    #navbox .nav_content li, #navbox .nav_content li .a_content li {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 0 48px; }
      #navbox .nav_content li .a_content {
        display: block;
        line-height: 20px;
        font-size: 14px;
        color: #ffffff; }
  #navbox .nav_right, #navbox .nav_right li .a_right {
    float: left; }
    #navbox .nav_right li, #navbox .nav_right li .a_right li {
      position: relative;
      float: left;
      margin: 0 48px; }
      #navbox .nav_right li .a_right {
        display: block;
        height: 20px;
        width: 20px; }
      #navbox .nav_right li:first-child .a_right {
        background: url(../img/index_nav_search.png) no-repeat center center; }
      #navbox .nav_right li:last-child .a_right {
        background: url(../img/index_nav_mine.png) no-repeat center center; }
    #navbox .nav_right .right_limask, #navbox .nav_right li .a_right .right_limask {
      width: 20px;
      cursor: pointer; }
    #navbox .nav_right #mybox {
      display: none;
      position: absolute;
      z-index: 20;
      right: -89px;
      top: 27px;
      box-sizing: border-box;
      width: 300px;
      border: 1px solid #cfcfcf;
      border-radius: 2px;
      background: white;
      padding: 10px 20px; }
      #navbox .nav_right #mybox .shangjian {
        position: absolute;
        top: -6px;
        right: 92px;
        width: 10px;
        height: 10px;
        border-left: 1px solid #cfcfcf;
        border-top: 1px solid #cfcfcf;
        transform: rotateZ(45deg);
        background: #fff; }
      #navbox .nav_right #mybox li {
        display: block;
        width: 100%; }
      #navbox .nav_right #mybox .mybox_li {
        margin: 0;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        border-bottom: 1px solid #cfcfcf;
        color: #333333;
        transition: color 0.5s;
        font-size: 14px; }
        #navbox .nav_right #mybox .mybox_li i {
          vertical-align: middle;
          margin-right: 10px;
          font-size: 20px;
          transition: color 0.5s; }
        #navbox .nav_right #mybox .mybox_li a {
          vertical-align: middle;
          color: #333333;
          transition: color 0.5s; }
        #navbox .nav_right #mybox .mybox_li:hover i, #navbox .nav_right #mybox .mybox_li:hover a {
          color: #e13333;
          transition: color 0.5s; }
        #navbox .nav_right #mybox .mybox_li:hover a {
          text-decoration: underline; }
      #navbox .nav_right #mybox .mybox_first {
        display: block;
        margin: 0;
        box-sizing: border-box;
        color: #999999;
        font-size: 14px;
        width: 100%;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px solid #e7e7e7;
        text-align: center; }
  #navbox .limask {
    display: block;
    position: absolute;
    width: 122px;
    height: 20px;
    background: black;
    opacity: 0;
    transition: opacity 0.5s; }
  #navbox .limask:hover {
    opacity: 0.5;
    transition: opacity 0.5s; }

#searchMask {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5; }

#searchDiv {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  background: #000000;
  z-index: 99;
  opacity: 1; }
  #searchDiv #closeSearch {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    background: url(../img/close_search.png) center no-repeat;
    right: 10px;
    top: 10px; }
    #searchDiv #closeSearch div {
      width: 24px;
      height: 24px;
      background: #000;
      opacity: 0;
      transition: opacity 0.5s; }
    #searchDiv #closeSearch:hover div {
      opacity: 0.4;
      transition: opacity 0.5s; }
  #searchDiv .searchText {
    margin: 10px 0;
    overflow: hidden; }
    #searchDiv .searchText a {
      vertical-align: middle;
      float: left;
      width: 40px;
      height: 24px;
      background: url(../img/index_nav_search_1.png) no-repeat left center;
      background-size: 16px 18px; }
    #searchDiv .searchText input {
      vertical-align: middle;
      float: left;
      height: 24px;
      line-height: 24px;
      width: 560px;
      border: 0;
      background: #000;
      box-shadow: none;
      text-indent: 2px;
      display: block;
      color: white;
      font-size: 14px;
      cursor: pointer; }
    #searchDiv .searchText input:focus {
      border: 0;
      box-shadow: 0;
      background: #000;
      outline: -webkit-focus-ring-color auto 0px; }
  #searchDiv .fastLink {
    line-height: 44px;
    height: 44px;
    text-indent: 40px;
    font-size: 12px;
    color: #999999; }
  #searchDiv .searchTitle {
    display: block;
    width: 100%;
    line-height: 44px;
    height: 44px;
    text-indent: 40px;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid #272727; }

.slider {
  position: relative;
  height: 600px;
  min-width: 1004px;
  width: 100%;
  overflow: hidden;
  border: 0; }

.slider .slider-pointer {
  position: absolute;
  bottom: 20px;
  color: #fff;
  list-style: none;
  padding: 0;
  z-index: 10;
  border: 0; }

.slider .slider-pointer li {
  display: inline-block;
  margin: 0 15px;
  width: 50px;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
  transition: all 320ms ease;
  border: 0; }

.slider .slider-pointer li:hover {
  opacity: 1;
  background-color: #fff; }

.slider .slider-pointer li.active {
  opacity: 1;
  background-color: #fff; }

.slider .slider-inner {
  width: 100%;
  height: 100%;
  position: relative; }

.slider .slider-inner .item {
  width: 100%;
  height: 100%;
  float: left;
  position: relative; }
  .slider .slider-inner .item .banner_mask {
    position: absolute;
    width: 100%;
    height: 100%; }
  .slider .slider-inner .item .banner1_content {
    position: absolute;
    right: 130px;
    bottom: 130px; }
    .slider .slider-inner .item .banner1_content .banner1_content_img {
      background: url(../img/banner1_content_bg.png) center no-repeat;
      width: 269px;
      height: 173px;
      margin-bottom: 30px; }
    .slider .slider-inner .item .banner1_content .banner1_content_title {
      font-size: 22px;
      color: #fff;
      height: 30px;
      line-height: 30px; }
    .slider .slider-inner .item .banner1_content .banner1_content_money {
      font-size: 22px;
      color: #fff;
      height: 30px;
      line-height: 30px; }
    .slider .slider-inner .item .banner1_content a {
      font-size: 20px;
      color: #fff;
      height: 48px;
      line-height: 48px; }
  .slider .slider-inner .item .banner2_content {
    position: absolute;
    width: 665px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .slider .slider-inner .item .banner2_content .banner2_content_img {
      background: url(../img/banner2_content_bg.png) center no-repeat;
      background-size: 70% 70%;
      width: 665px;
      height: 107px; }
    .slider .slider-inner .item .banner2_content .banner2_content_title {
      margin: 0 auto;
      font-size: 22px;
      color: #000;
      height: 30px;
      line-height: 30px; }
    .slider .slider-inner .item .banner2_content a {
      font-size: 20px;
      color: red;
      height: 48px;
      line-height: 48px; }
  .slider .slider-inner .item .banner3_content {
    position: absolute;
    right: 280px;
    bottom: 160px; }
    .slider .slider-inner .item .banner3_content .banner3_content_img {
      background: url(../img/banner3_content_bg.png) center no-repeat;
      width: 384px;
      height: 107px;
      margin-bottom: 30px; }
    .slider .slider-inner .item .banner3_content .banner3_content_title {
      font-size: 22px;
      color: #fff;
      height: 30px;
      line-height: 30px; }
    .slider .slider-inner .item .banner3_content .banner3_content_money {
      font-size: 22px;
      color: #fff;
      height: 30px;
      line-height: 30px; }
    .slider .slider-inner .item .banner3_content a {
      font-size: 20px;
      color: #fff;
      height: 48px;
      line-height: 48px; }

.slider .slider-inner .img {
  display: block;
  background-position: center !important;
  width: 100%;
  height: 100%;
  border: 0; }

.slider .slider-control {
  position: absolute;
  width: 18px;
  height: 27px;
  z-index: 999;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.3;
  cursor: pointer;
  top: 40%;
  transition: all 320ms ease;
  border: 0; }

.slider .prev {
  background: url(../img/index-jingling-cion1.png) no-repeat -300px -50px;
  background-size: 400px 400px;
  display: none;
  left: 50px; }

.slider .next {
  background: url(../img/index-jingling-cion1.png) no-repeat -250px -50px;
  background-size: 400px 400px;
  display: none;
  right: 50px; }

.slider .slider-control:hover {
  opacity: 0.5;
  border: 0; }

.slider:hover .slider-control.prev, .slider:hover .slider-control.next {
  display: block; }

.slider .slider-control:active {
  opacity: 1;
  border: 0; }

.content_box {
  width: 100%;
  padding: 4px 0;
  background: white; }
  .content_box .content {
    min-width: 1420px;
    margin: 0 auto;
    overflow: hidden; }
    .content_box .content .contentdiv {
      overflow: hidden;
      position: relative;
      float: left;
      width: 350px;
      height: 203px;
      margin-right: 5px;
      background: white; }
      .content_box .content .contentdiv:hover img {
        transform: scale(1.1);
        transition: transform 1s; }
      .content_box .content .contentdiv img {
        position: absolute;
        transform: scale(1);
        transition: transform 1s; }
      .content_box .content .contentdiv div {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 20px; }
        .content_box .content .contentdiv div .p1 {
          font-size: 12px; }
        .content_box .content .contentdiv div .p2 {
          font-size: 16px;
          margin-top: 12px; }
      .content_box .content .contentdiv a {
        width: 100%;
        height: 100%;
        position: absolute; }
    .content_box .content .contentdiv2 div p, .content_box .content .contentdiv3 div p {
      color: white; }

.footbox {
  width: 100%;
  background: white; }
  .footbox .foot {
    min-width: 1200px;
    padding: 0 110px;
    margin: 0 auto; }
    .footbox .foot .foot1 {
      overflow: hidden;
      padding: 32px 0 24px; }
      .footbox .foot .foot1 .foot1_left {
        overflow: hidden;
        float: left; }
        .footbox .foot .foot1 .foot1_left ul {
          float: left;
          margin-right: 110px; }
          .footbox .foot .foot1 .foot1_left ul li {
            color: #333333;
            font-size: 12px;
            height: 26px;
            line-height: 26px; }
            .footbox .foot .foot1 .foot1_left ul li a {
              color: #555555;
              transition: color .5s; }
              .footbox .foot .foot1 .foot1_left ul li a:hover {
                text-decoration: underline;
                color: #e15555;
                transition: color .5s; }
      .footbox .foot .foot1 .foot1_right {
        width: 200px;
        float: right; }
        .footbox .foot .foot1 .foot1_right p {
          font-size: 12px;
          color: #333333;
          line-height: 26px;
          height: 26px; }
          .footbox .foot .foot1 .foot1_right p span {
            color: #555555;
            margin-left: 10px; }
        .footbox .foot .foot1 .foot1_right h2 {
          line-height: 60px;
          height: 60px; }
        .footbox .foot .foot1 .foot1_right a {
          font-size: 12px;
          line-height: 26px;
          height: 26px;
          width: 66px;
          display: block;
          color: #333333;
          transition: color .5s;
          background: url(../img/call_me_bg.jpg) right center no-repeat; }
          .footbox .foot .foot1 .foot1_right a:hover {
            text-decoration: underline;
            color: #e13333;
            transition: color .5s; }
    .footbox .foot .foot2 {
      overflow: hidden;
      padding: 24px 0; }
      .footbox .foot .foot2 a {
        color: #333333;
        transition: color .5s; }
        .footbox .foot .foot2 a:hover {
          text-decoration: underline;
          color: #e13333;
          transition: color .5s; }
      .footbox .foot .foot2 .foot2_1 {
        height: 22px;
        line-height: 22px;
        color: #333333;
        font-size: 12px; }
        .footbox .foot .foot2 .foot2_1 a {
          margin: 0 20px; }
      .footbox .foot .foot2 .foot2_2 {
        height: 22px;
        line-height: 22px;
        color: #333333;
        font-size: 12px;
        vertical-align: middle; }
        .footbox .foot .foot2 .foot2_2 span {
          display: inline-block;
          height: 20px;
          width: 80px;
          background: url(../img/foot_gongan_bg.jpg);
          cursor: pointer;
          vertical-align: middle; }
